@page
@model FL23_Lab10_AdoExercise.Pages.UpdateModel
@{
}

<form method="post">
    <label>Fname</label>
    <input type="text" />
    <label>Lname</label>
    <input type="text" />
    <label>Minit</label>
    <input type="text" />
    <label>SSN</label>
    <input type="number" />
    <label>Bdate</label>
    <input type="date" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>